In [3]:
import datetime
import pandas as pd

#Create a empty dataframe for combining all csvs
df_list = []

#Define start date and end date, which is the date range of the datasource
start = datetime.date(2021, 1, 1)
end = datetime.date(2023, 3, 9)
res_date = start

#loop each date within the range to extract the csv for the day, and do data cleaning
while res_date <= end:
    #Turn the datetime object into string for url concatenation
    string_date = res_date.strftime("%m-%d-%Y")
    
    #url of github raw content
    url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + string_date + ".csv"
    # print(url)
    
    #Add 1 day to retrieve the next day's data
    res_date += datetime.timedelta(days=1)


    #Read csv file
    df1 = pd.read_csv(url)#.fillna(0) Since there is no NaN data, fillna function is commented

    #df1.assign(Data = string_date) Doesn't work, "['Date'] not in index"
    df1['Date'] = pd.to_datetime(string_date)
    
    df_list.append(df1)
    
#Concat the csv files together
integrate_df = pd.concat(df_list, ignore_index = True)

#Only select columns that are needed, and extract China only
integrate_df = integrate_df[integrate_df["Country_Region"] == "China"][["Province_State","Country_Region", "Date","Confirmed","Deaths","Recovered"]]

#Group by country to obtain the overall data of China (not needed in this case)
integrate_df = integrate_df.groupby(['Country_Region','Province_State','Date'], as_index = False).agg('sum')

integrate_df.reset_index()

integrate_df.head()

  Country_Region Province_State       Date  Confirmed  Deaths  Recovered
0          China          Anhui 2021-01-01        993       6      986.0
1          China          Anhui 2021-01-02        993       6      986.0
2          China          Anhui 2021-01-03        993       6      986.0
3          China          Anhui 2021-01-04        993       6      986.0
4          China          Anhui 2021-01-05        993       6      986.0

In [4]:
integrate_df['Recovered'] = integrate_df['Recovered'].astype('int')
integrate_df

      Country_Region  Province_State       Date  Confirmed  Deaths  Recovered
466            China           Anhui 2022-04-12       1056       6        0.0
1264           China         Beijing 2022-04-12       1826       9        0.0
2062           China       Chongqing 2022-04-12        693       6        0.0
2860           China          Fujian 2022-04-12       2929       1        0.0
3658           China           Gansu 2022-04-12        681       2        0.0
4456           China       Guangdong 2022-04-12       6749       8        0.0
5254           China         Guangxi 2022-04-12       1532       2        0.0
6052           China         Guizhou 2022-04-12        178       2        0.0
6850           China          Hainan 2022-04-12        280       6        0.0
7648           China           Hebei 2022-04-12       1982       7        0.0
8446           China    Heilongjiang 2022-04-12       2508      13        0.0
9244           China           Henan 2022-04-12       2846      22        0.0
10042          China       Hong Kong 2022-04-12    1193023    8886        0.0
10840          China           Hubei 2022-04-12      68394    4512        0.0
11638          China           Hunan 2022-04-12       1337       4        0.0
12436          China  Inner Mongolia 2022-04-12       1688       1        0.0
13234          China         Jiangsu 2022-04-12       2109       0        0.0
14032          China         Jiangxi 2022-04-12       1068       1        0.0
14830          China           Jilin 2022-04-12      38301       5        0.0
15628          China        Liaoning 2022-04-12       1607       2        0.0
16426          China           Macau 2022-04-12         82       0        0.0
17224          China         Ningxia 2022-04-12        122       0        0.0
18022          China         Qinghai 2022-04-12         43       0        0.0
18820          China         Shaanxi 2022-04-12       3256       3        0.0
19618          China        Shandong 2022-04-12       2654       7        0.0
20416          China        Shanghai 2022-04-12      14473       7        0.0
21214          China          Shanxi 2022-04-12        352       0        0.0
22012          China         Sichuan 2022-04-12       1966       3        0.0
22810          China         Tianjin 2022-04-12       1799       3        0.0
23608          China           Tibet 2022-04-12          1       0        0.0
24406          China         Unknown 2022-04-12     290611       0        0.0
25204          China        Xinjiang 2022-04-12        999       3        0.0
26002          China          Yunnan 2022-04-12       2083       2        0.0
26800          China        Zhejiang 2022-04-12       2850       1        0.0

In [ ]:
#The mode is default 'w', which means would truncate the file first if detecting a file with the specific name
integrate_df.to_csv("covid_data_china_Province.csv")